@font-face {
  font-family: "pixelmix";
  src: url("/fonts/pixelmix.woff2") format("woff2"),
    url("/fonts/pixelmix.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pixelmix";
  src: url("/fonts/pixelmix-bold.woff2") format("woff2"),
    url("/fonts/pixelmix-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "pixelmix", Helvetica Neue, sans-serif;
  --background-color: #26252b;
}

*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
  background: var(--background-color);
}

::selection {
  background: #fff;
  color: var(--background-color);
  text-shadow: none;
}
body {
  padding: 40px;
  margin: 0;
  font-size: 20px !important;
  font-family: var(--font-family) !important;
  background: var(--background-color) url("/images/background.jpg") no-repeat
    center center fixed;
  background-size: cover;
  color: #fff !important;
  text-shadow: 4px 4px 0px #000000;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
